# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Java Programming\GeekBrains\Факультет Java Разработки\Java Уровень 1\Домашняя работа\Lesson_6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
